 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 548px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1040px;
  margin: 0 auto 26px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 522px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  height: 351px;
  width: 351px;
  margin: 48px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: "Press Start 2P";
  font-size: 0.75rem;
  border-style: solid;
  margin: 18px auto 0;
  padding: 15px 52px 16px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 522px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.125rem;
  margin: 0 0 0 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-1 .u-gallery-1 {
    height: 320px;
    width: 320px;
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    padding-right: 36px;
    padding-left: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 446px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-1 .u-gallery-1 {
    height: 280px;
    width: 280px;
    margin-top: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 56px;
    padding-right: 16px;
    padding-left: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-gallery-1 {
    height: 540px;
    margin-top: -2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 30px 144px 31px 143px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 409px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-1 .u-gallery-1 {
    height: 337px;
    width: 338px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-btn-1 {
    padding: 20px 44px 21px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-left: 21px;
    margin-right: 21px;
  }
}