 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 643px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  width: 821px;
  margin: 55px auto 0;
}

.u-section-1 .u-gallery-1 {
  margin-top: 54px;
  margin-bottom: 0;
  height: 375px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-1 {
  width: 375px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-2 {
  width: 375px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-3 {
  width: 375px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-4 {
  width: 375px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-5 {
  width: 375px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 14px;
  width: 40px;
  height: 40px;
  top: 153px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 153px;
  right: 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 109px;
  }

  .u-section-1 .u-gallery-1 {
    margin-bottom: 60px;
    height: 311px;
  }

  .u-section-1 .u-back-image-1 {
    width: 305px;
  }

  .u-section-1 .u-back-image-2 {
    width: 305px;
  }

  .u-section-1 .u-back-image-3 {
    width: 305px;
  }

  .u-section-1 .u-back-image-4 {
    width: 305px;
  }

  .u-section-1 .u-back-image-5 {
    width: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    margin-bottom: 53px;
    height: 231px;
  }

  .u-section-1 .u-back-image-1 {
    width: 235px;
  }

  .u-section-1 .u-back-image-2 {
    width: 235px;
  }

  .u-section-1 .u-back-image-3 {
    width: 235px;
  }

  .u-section-1 .u-back-image-4 {
    width: 235px;
  }

  .u-section-1 .u-back-image-5 {
    width: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 81px;
    height: 175px;
  }

  .u-section-1 .u-back-image-1 {
    width: 172px;
  }

  .u-section-1 .u-back-image-2 {
    width: 172px;
  }

  .u-section-1 .u-back-image-3 {
    width: 172px;
  }

  .u-section-1 .u-back-image-4 {
    width: 172px;
  }

  .u-section-1 .u-back-image-5 {
    width: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 54px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 53px;
    margin-bottom: 60px;
    height: 354px;
  }

  .u-section-1 .u-back-image-1 {
    width: 332px;
  }

  .u-section-1 .u-back-image-2 {
    width: 332px;
  }

  .u-section-1 .u-back-image-3 {
    width: 332px;
  }

  .u-section-1 .u-back-image-4 {
    width: 332px;
  }

  .u-section-1 .u-back-image-5 {
    width: 332px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 35px;
}

.u-section-2 .u-image-1 {
  width: 30px;
  height: 30px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 30px;
  height: 30px;
  margin: -30px 74px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 30px;
  height: 30px;
  margin: -30px 0 5px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 124px;
  }

  .u-section-2 .u-image-2 {
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-right: 124px;
    margin-bottom: 8px;
  }
}