.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-gallery-1 {
  margin-top: 50px;
  margin-bottom: 0;
  height: 375px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-1 {
  width: 375px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-2 {
  width: 375px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-3 {
  width: 375px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-4 {
  width: 375px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-5 {
  width: 375px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 42px 107px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-gallery-1 {
    height: 313px;
  }

  .u-section-1 .u-back-image-1 {
    width: 312px;
  }

  .u-section-1 .u-back-image-2 {
    width: 312px;
  }

  .u-section-1 .u-back-image-3 {
    width: 312px;
  }

  .u-section-1 .u-back-image-4 {
    width: 312px;
  }

  .u-section-1 .u-back-image-5 {
    width: 312px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 51px;
    height: 232px;
  }

  .u-section-1 .u-back-image-1 {
    width: 232px;
  }

  .u-section-1 .u-back-image-2 {
    width: 232px;
  }

  .u-section-1 .u-back-image-3 {
    width: 232px;
  }

  .u-section-1 .u-back-image-4 {
    width: 232px;
  }

  .u-section-1 .u-back-image-5 {
    width: 232px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin: 38px 38px 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-gallery-1 {
    width: 233px;
    margin-top: 38px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin: -211px -15px 59px 282px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 22px;
    height: 352px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-back-image-1 {
    width: 344px;
  }

  .u-section-1 .u-back-image-2 {
    width: 344px;
  }

  .u-section-1 .u-back-image-3 {
    width: 344px;
  }

  .u-section-1 .u-back-image-4 {
    width: 344px;
  }

  .u-section-1 .u-back-image-5 {
    width: 344px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin: 22px 11px;
  }
}